{% extends "index.html" %}
{% load static %}
{% block body %}
<!-- Hello I am Login Page -->
<div class="container-fluid text-center ">
    <div class="d-flex align-items-center py-4">
        <main class="form-signin w-100 m-auto">
            <form method="post" action="/login">
                {% csrf_token %}
                <img class="mb-4" src={% static "logo2.png" %} alt="" width="100" height="100">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating text-white">
                    <input style="color: white;" type="text" name="username" class="form-control my-2 bg-dark"
                        id="floatingInput" placeholder="Username" required>
                    <label for="floatingInput">Username</label>
                </div>
                No account? <a href="/signup">Signup here now</a>
                <div class="form-floating text-white">
                    <input style="color: white;" type="password" name="password" class="form-control my-2 bg-dark"
                        id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-body-light">&copy; 2024</p>
            </form>
        </main>
    </div>
</div>
{% endblock body %}